In [6]:
#41
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [7]:
#42
movie_rank.append('배트맨')

In [8]:
#43
movie_rank.insert(1,'슈퍼맨')

In [10]:
#44
movie_rank.remove('럭키')

In [13]:
#45
movie_rank
del movie_rank[2:]

In [15]:
#46 list의 덧셈은 두 리스트를 합친다.
lang1 = ['c','c++','java']
lang2 = ['python', 'go', 'c#']
langs = lang1 + lang2
langs

['c', 'c++', 'java', 'python', 'go', 'c#']

In [21]:
#47
nums = [1,2,3,4,5,6,7]
print(max(nums))
print(min(nums))

7
1

In [22]:
#48
sum(nums)

28

In [24]:
#49
cook = [241,2112,111241,511,212,411241]
len(cook)

6

In [26]:
#50
nums = [1,2,3,4,5,6]
nums_average = sum(nums)/len(nums)
nums_average

3.5

In [30]:
#51
price = ['20181644',100,150,1506,5780,5111,180]
print(price[1:])

[100, 150, 1506, 5780, 5111, 180]

In [33]:
#52
nums = [1,2,3,4,5,6,7,8,9]
print(nums[::2])

[1, 3, 5, 7, 9]

In [34]:
#53
print(nums[1::2])

[2, 4, 6, 8]

In [37]:
#54
print(nums[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [40]:
#55
interest = ['삼성전자', 'lg전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [43]:
#56
print(' '.join(interest))

삼성전자 lg전자 Naver

In [44]:
#57
print('/'.join(interest))

삼성전자/lg전자/Naver

In [48]:
#58
print("\n".join(interest))

삼성전자
lg전자
Naver

In [54]:
#59
string = '삼성전자/대우건설/네이버'
string_s = string.split('/')
string_s

['삼성전자', '대우건설', '네이버']

In [55]:
#61
interest_0 = ['삼성전자', 'LG전자', 'SK Hynix']
interest_1 = interest_0
interest_1[0] = 'Naver'
print(interest_0)

['Naver', 'LG전자', 'SK Hynix']

In [58]:
#65
my_tuple =(1)
type(my_tuple)

int

In [59]:
my_tuple2 = (1,)
type(my_tuple2)

tuple