# 문자열 다루기

In [1]:
a = '@'
b = 6
print(a * b)
print(a, '  ', a)
print(a, '%4s' % a) # 형식지정 문자열 활용하기
                    # a 앞에 4개의 공백
print('%-4s' % a, a)# a 뒤에 4개의 공백
print(a, '  ', a) # 직접 space bar로 공백주는 것
print(a * b)

@@@@@@
@    @
@    @
@    @
@    @
@@@@@@

In [2]:
name = 'tom'
age = 13
print('%s is %d years old' % (name, age))

tom is 13 years old

In [3]:
a = 10; b = 3
print('10 / 3 = %.2f' % (float)(a/3))

10 / 3 = 3.33

In [4]:
# format 문자열 형식화
'내 이름은 {}입니다.'.format('홍길동')

'내 이름은 홍길동입니다.'

In [5]:
'{2}의 {0} 점수는 {1}점입니다.'.format('수학', 100, '철수')

'철수의 수학 점수는 100점입니다.'

In [6]:
# 20개의 공백 기준으로 값은 앞으로, 해당 값을 1000단위로 끊어줌
'{:<20,}'.format(134864475)

'134,864,475         '

In [8]:
a = 3; b = 12

# format 문자열 형식화 예제

print('{:>10}'.format(a))
print('x','{:>8}'.format(b))
print('-'*11)
print('{:>10}'.format(a*b))

         3
x       12
-----------
        36

In [9]:
a = 123456; b = 7890

# 예제 2

print('{:20,}'.format(a))
print('+','{:>18,}'.format(b))
print('-'*30)
print('{:>20,}'.format(a+b))

             123,456
+              7,890
------------------------------
             131,346

In [11]:
# 홀,짝 구분 함수
def even(x):
    if (x % 2 == 0):
        print('짝수')
    else :
        print('홀수')
even(33)

홀수

In [12]:
def f(x):
    return 2 * x

In [13]:
# 위 함수와 같다. (=함수의 요약)
c = lambda x : 2 * x

In [14]:
for i in range(6):
    n1 = i + 1
    for j in range(6):
        n2 = j + 1
        n = n1 + n2
        if n % 4 == 0:
            print('주사위의 합이 4의 배수인 경우 : ', (n1,n2))

주사위의 합이 4의 배수인 경우 :  (1, 3)
주사위의 합이 4의 배수인 경우 :  (2, 2)
주사위의 합이 4의 배수인 경우 :  (2, 6)
주사위의 합이 4의 배수인 경우 :  (3, 1)
주사위의 합이 4의 배수인 경우 :  (3, 5)
주사위의 합이 4의 배수인 경우 :  (4, 4)
주사위의 합이 4의 배수인 경우 :  (5, 3)
주사위의 합이 4의 배수인 경우 :  (6, 2)
주사위의 합이 4의 배수인 경우 :  (6, 6)