In [1]:
#1
print('hello, world')

hello, world

In [2]:
#2
print("Mary's cometics")

Mary's cometics

In [3]:
#3
print('신씨가 소리 질렀다. "도둑이야".')

신씨가 소리 질렀다. "도둑이야".

In [4]:
import os
os.getcwd()

'C:\\Users\\krit\\Python_EXAM\\Python_Beginner_test'

In [5]:
#5
# \t tap key
# \n 줄 바꿈
print('안녕하세요 \n만나서 \t\t반갑습니다.')

안녕하세요
만나서 		반갑습니다.

In [6]:
#6 단어 사이에 공백 생기며 출력
print('오늘은','일요일')

오늘은 일요일

In [7]:
#7,8
print('naver','kakao','sk','samsung', sep = ';')

naver;kakao;sk;samsung

In [8]:
#9 print는 \n 을 포함한 메소드
# 줄바꿈이 싫다면 end=''로 끝 점을 직접 지정해주기

print('first', end='');print('second')

firstsecond

In [9]:
#10
string = 'dkr21502fdjaskfd98f031fjkdlafda'
len(string)

31

In [10]:
#11
# 문자열이기에 7이 아닌 34
a =  '3'; b = '4'
print(a+b)

34

In [11]:
#12
s = 'hello'; t = 'python'
c = s + '! ' + t
c

'hello! python'

In [12]:
#13
print('Hi' * 3)

HiHiHi

In [13]:
#14
print('-'*80)

--------------------------------------------------------------------------------

In [14]:
#15
t1 = 'python'; t2= 'java'
print((t1+ ' '+ t2 + ' ' )*4)

python java python java python java python java

In [15]:
#16
lg = 20000
lg*10

200000

In [16]:
#17 
2 + 2 * 3

#가독성 향상을 위해서
2 + ( 2 * 3 )

8

In [17]:
#18
a = 123
b = '410'
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [18]:
#19
num_str = '720'
int(num_str)

720

In [19]:
#20
str(num_str)

'720'

In [20]:
#21
lang = 'python'
print(lang[0], lang[2])

p t

In [21]:
#22
license_plate = '24가 2210'
print(license_plate[4:])

2210

In [22]:
#23
string = '홀짝홀짝홀짝'
print(string [::2])
#0 인덱스부터 2개씩 증가하는 것마다 출력해주세요
# = print(string[0],string[2],string[4])

#반대로 짝만 출력하려면
print(string[1::2])
#1 인덱스부터 2개씩 증가하는 것마다 출력

홀홀홀
짝짝짝

In [23]:
#24
string = 'python'
print(string[::-1])

nohtyp

In [24]:
#25
number = '010-9571-1574'
number.replace('-','')

'01095711574'

In [25]:
#26
print(number, sep = '-')

010-9571-1574

In [26]:
#27
url = 'http:\\sharebook.kr'
print(url[-2:])

kr

In [27]:
#29
string = 'abcgdaeadf31r3dsafvcAvca'
string.replace('a','A')

'AbcgdAeAdf31r3dsAfvcAvcA'

In [28]:
#30
string = 'abcd'
string.replace('b','B')
print(string)

abcd